.sort-by-form {
    padding: 10px
}

.sort-by-form select {
    margin: 5px;
}

#category-filter {
    width: 150px;
}

#sort-options {
    width: 150px
}

.order-direction-buttons {
    display: flex;
    justify-content: center;
    padding-bottom: 5px
}

#asc, #desc {
    height: 10px;
    accent-color: blueviolet;
}

.radio-button {
    padding: 5px;
    font-size: 0.9rem
}

.radio-button input {
    margin: 0 10px
}

button {
    border-style: none;
    padding: 5px 10px;
    border-radius: 25px;
    min-width: 60px;
    background-color: blueviolet;
    color: white
}

.review-card img {
    width: 110px;
    height: 75px;
}

.review-card {
    display: grid;
    grid-template-columns: 125px 1fr;
    padding: 20px;
    align-items: center;
}

.review-card h3 {
    font-size: 1rem;
    padding-bottom: 10px
}

.review-card button {
    min-width: 100px;
}

.review-selection button {
    margin-top: 10px;
}

@media screen and (min-width: 600px) and (max-width: 1049px){
    .review-card {
        display: flex;
        flex-direction: column;
    }

    .review-card img {
        width: 300px;
        height: 200px;
    }
    
    .review-list {
        display: grid;
        grid-template-columns: 1fr 1fr
    }
}

@media screen and (min-width: 1050px) {
    .review-card {
        display: flex;
        flex-direction: column;
    }

    .review-card img {
        width: 300px;
        height: 200px;
    }
    
    .review-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr
    }
}

