.review-tile h2 {
    padding: 5% 0
}

.review-tile p {
    padding: 0 5% 5%;
    font-size: .95rem
}

.review-tile picture {
    margin: auto;
    width: 90%;
    aspect-ratio: 16/11;
    display: flex;
    justify-content: center;
}

.review-text {
    margin: 5%
}

.counts {
    display: flex;
    justify-content: center;
    align-items: center;
}

.counts p {
    padding: 10px
}

.counts button {
    background-color: transparent;
    border: none !important
}

.counts button img {
    width: 20px;
}

.counts button:hover {
    cursor: pointer;
}

/* comment section */

.comments-section {
    text-align: left;
    padding: 5%
}

.comments-section h2 {
    padding-bottom: 5%
}

.comment-card {
    display: grid;
    grid-template-rows: 5;
    grid-template-columns: 120px auto;
}

.comment-card h4 {
    padding-top: 10px;
}

.comment-card h5 {
    font-weight: normal
}

.comment-card p {
    padding-bottom: 10%    
}

.comment-card img {
    border-radius: 50%;
    width: 100px;
    grid-row-start: 1;
    grid-row-end: 5
}

/* media queries */

@media screen and (min-width: 900px) {
    .review-tile {
        display: grid;
        grid-template-areas: 
        "title title"
        "author author"
        "img body";
        grid-template-columns: 50%;
        grid-template-rows: auto auto;
        align-items: center;
    }

    .review-tile h2 {
        grid-area: title;
        padding-bottom: 10px
    }

    .author-details {
        grid-area: author;
        padding: 0
    }

    .review-tile img {
        grid-area: img;

    }

    .review-body {
        grid-area: body;
        padding: 0;
    }
}