nav {
    background: rgb(238, 238, 238);
    border-radius: 25px;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 50px 10px
    
}

li {
    list-style: none;
}